<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseLocationPath"
			 connectionString="Data Source = C:\Users\knowhatelse\Projects\git-improv\GitImprov\GitImprov\Data\Database\GitImprov.db"/>
	</connectionStrings>
	<appSettings>
		<add key ="AudioFileFolderLocationPath" value ="C:\Users\knowhatelse\Projects\git-improv\GitImprov\GitImprov\Resources\Backingtracks\"/>
	</appSettings>
</configuration>