<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DataBaseConnectionPath" 
			 providerName="System.Data.SQLite" 
			 connectionString="Data Source=C:\Users\knowhatelse\Documents\1\Programming\CSharp_repo\GitImprov_GitHub\git-improv\GitImprov\GitImprov\DataBase\SQLite\SQLiteDataBase.db; version=3"/>
	</connectionStrings>
</configuration>